.aba {
    min-height: 150px;
}

.logo{
  width: 110px;
  margin-left: 2.4vw;
}

.texto-negrito {
   font-weight: bold;
}
  
.titulo:hover {
   background-color: #eccbfc;
}

h3{
  margin-left: 2.4vw;
}
  
.fill-screen {
    width: 100vw; 
    min-height: 100vh;
    background-color: #eff0f0;
    flex-direction: column;
    display: flex;
}